body {
	background-color: #ddd;
	color: #000;
	width: 800px;
	margin: 0;
	padding: 5px;
	font: 14px "Verdana", sans-serif;
}

a {
	color: #555;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#panel {
	position: absolute;
	top: 3px;
	left: 540px;
}

#panel_inner {
	position: relative;
}

#panel_inner, #pannel {
	width: 274px;
	height: 518px;
}

#copyright {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 274px;
	font: 11px "Verdana", sans-serif;
}

#square_frame {
	overflow: hidden;
	position: relative;
	width: 512px;
	height: 512px;
	border: 2px solid #aaa;
	background-color: #888;
}

.front_square, .back_square {
	width: 128px;
	height: 128px;
	display: block;
	position: absolute;
	cursor: pointer;
	cursor: -moz-zoom-in;
}

.front_square {
	z-index: 1
}

.back_square {
	z-index: 0
}

.button {
	margin: 10px auto 10px 0px;
	border: 2px solid #333;
	width: 130px;
	text-align: center;
	background: #ddd;
	color: black;
	padding: 3px;
	cursor: pointer;
}
.button:hover {
	border: 2px solid #ccc;
	color: #fff;
	background: #333;
}

.brush {
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid #ddd;
}

.brush:hover {
	background-color: #aaa;
	border: 1px solid #777;
}

.selected_brush {
	background-color: #bbb;
	border: 1px solid #888
}

#brush1  { background-image: url(images/brush_1.png); }
#brush2  { background-image: url(images/brush_2.png); }
#brush4  { background-image: url(images/brush_4.png); }
#brush8  { background-image: url(images/brush_8.png); }
#brush16 { background-image: url(images/brush_16.png); }
#brush32 { background-image: url(images/brush_32.png); }

#brush16 {
	height: 40px;
	width: 40px;
}

#brush32 {
	height: 72px;
	width: 72px;
}

.first { padding-top: 0px; margin-top: 0px; }

.hidden {
	position: absolute;
	left: -4000px;
	width: 200px;
}
